
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="alert alert-primary m-3" role="alert">
    You are in login page
</div>

<div class="container d-flex justify-content-center align-items-center"
     style="height: 80vh;">

    <div class="card p-4 shadow" style="width: 300px;">

        <h2 class="text-center mb-3">Login</h2>

        <form>
            <label>
            <input type="text"
                   placeholder="Username"
                   class="form-control my-2">
            </label>
            <label>
            <input type="password"
                   placeholder="Password"
                   class="form-control my-2">
            </label>
            <button class="btn btn-dark mt-2 w-100">
                Login
            </button>
        </form>

    </div>
</div>

{% endblock %}
