{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block style %}
<style>
    .page-center {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register-card {
        width: 450px;
        padding: 30px;
        border: 1px solid #ddd;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    }
</style>
{% endblock %}

{% block content %}

<div class="page-center">

    <div class="register-card">

        <div class="alert alert-primary alert-dismissible fade show"
             role="alert">

            <strong>Already have an account?</strong>
            Login instead of registering!

            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert">
            </button>
        </div>

        <h2 class="text-center mb-3">Create Account</h2>

        <form>
            <label>
            <input class="form-control mb-3"
                   placeholder="Username">
            </label>
            <label>
            <input class="form-control mb-3"
                   placeholder="Email">
            </label>
            <label>
            <input class="form-control mb-3"
                   placeholder="Password">
            </label>
            <label>
            <input class="form-control mb-3"
                   placeholder="Confirm Password">
            </label>
            <button class="btn btn-dark w-100">
                Register
            </button>
        </form>

    </div>

</div>

{% endblock %}