{% extends 'base.html' %}

{% block title %}
Literature Page
{% endblock %}


{% block content %}

<h1 class="navbar navbar-expand-lg bg-dark text-white p-3">
    Literature Page
</h1>

<div class="row">

    {% for book in books %}

    <div class="col-md-4 mb-4">

        <div class="card" style="width: 350px;">

            <img src="/static/images/{{ book['img'] }}"

     class="card-img-top w-100"
     style="height: 400px; object-fit: cover;"
     alt="Book Image">


            <div class="card-body">

                <h5 class="card-title">
                    {{ book["title"] }}
                </h5>

                <p class="card-text">
                    {{ book["author"] }}
                </p>

                <p>
                    Rating: {{ book["rating"] }}
                </p>

                <a href="/book/{{ book['id'] }}"
                   class="btn btn-primary">

                    See Details

                </a>

            </div>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}